.counter-container {
  background-color: #cce8ee;
  width: 62px;
  border-radius: 5px;
}

.counter-button {
  background-color: #cce8ee;
  border: 0px;
  color: #005993;
  font-weight: 800;
  border-radius: 5px;
}
